@model IEnumerable<ReadDocumentVM>
@{
    Layout = null;
}
@using QRCoder
@using System.IdentityModel.Tokens.Jwt
@{
    var token = "";
    string FullName = "";
    string Role = "";
    if (ViewContext.HttpContext.Request.Cookies.TryGetValue("token", out token))
    {
        JwtSecurityToken jwtSecurityToken = new JwtSecurityTokenHandler().ReadJwtToken(token);
        FullName = jwtSecurityToken.Claims.First(c => c.Type == "Name").Value;
        Role = jwtSecurityToken.Claims.First(c => c.Type == "Role").Value;
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Dashboard</title>
    <link href="~/lib/fastbootstrap/dist/css/fastbootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/timeline.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <div class="layout" style="height: 100vh !important;">
        <main class="layout-main bg-secondary-subtle p-5">
            <section>
                <h1>Masterlist</h1>
                <div class="card p-5">
                    <form class="mb-3">
                        <div class="d-inline-flex align-items-center">
                            <label for="Entries" class="form-label me-2 ">Show</label>
                            <select class="form-select" id="Entries" required>
                                <option value="">10</option>
                                <option value="">20</option>
                                <option value="">30</option>
                            </select>
                            <label for="Entries" class="form-label ms-2">Entries</label>
                        </div>
                    </form>
                    <table class="table table-hover table-borderless border">
                        <thead class="table-success">
                            <tr>
                                <th>QR CODE</th>
                                <th>DETAILS</th>
                                <th>CREATED BY</th>
                                <th>STATUS</th>
                                <th style="width: 20%;">...</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            @foreach (var document in Model)
                            {
                                <tr>
                                    <td><div class="d-flex flex-column align-items-center ">
                                            <img src=@("data:image/png;base64," + System.Convert.ToBase64String(
                                             PngByteQRCodeHelper.GetQRCode(document.TrackingNumber, QRCodeGenerator.ECCLevel.Q, 10))) style="width: 80px;">
                                            <span class="fw-bold">@document.TrackingNumber</span>
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex flex-column">
                                            <span class="fw-bold fs-5">@document.Subject</span>
                                            <span>Document ID: @document.DocumentNumber</span>
                                            <span>Type: @document.TypeName</span>
                                        </div>
                                    </td>
                                    <td>
                                        <img src="/images/avatar/user.png" class="me-3" style="width: 40px;">@document.TrackingStatus.Select(e => e.CreatedBy).FirstOrDefault()
                                    </td>
                                    <td class="fw-bolder">@document.TrackingStatus.Select(e => e.StatusName).FirstOrDefault()</td>
                                    <td>
                                        <div class="d-flex gap-1 justify-content-center">
                                            <a asp-action="NewTrail" asp-controller="Document" asp-route-trckNum="@document.TrackingNumber" class="btn btn-success">New Trail</a>
                                            <a asp-action="Index" asp-controller="Document" asp-route-trckNum="@document.TrackingNumber" class="btn btn-info">View</a>
                                            <a href="@("data:image/png;base64," + System.Convert.ToBase64String(
                                 PngByteQRCodeHelper.GetQRCode(document.TrackingNumber, QRCodeGenerator.ECCLevel.Q, 10)))" class="btn btn-warning" download="qr">Print QR</a>
                                        </div>
                                    </td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </section>
        </main>
        <aside class="layout-sidebar d-inline-flex flex-column justify-content-between border-end p-2 pb-5" style="width:240px; height: inherit !important;">
            <div>
                <div class="mb-5 fs-5">Online Document Tracking System <sup class="text-danger">alpha 1.0</sup></div>
                <div class="list-group border-0 gap-1">
                    <a class="list-group-item list-group-item-action list-group-item-success" href="#">
                        <i class="fa-solid fa-chart-line fa-lg me-3"></i> Dashboard
                    </a>
                    <hr />
                    <div class="list-group border-0 border-bottom">
                        <button class="list-group-item list-group-item-action list-group-item-success d-inline-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#transaction-collapse" aria-expanded="false"><span><i class="fa-solid fa-layer-group fa-lg me-3"></i>Transaction</span> <span><i class="fa-solid fa-arrow-down fa-lg"></i></span></button>
                        <div class="collapse list-group rounded-0" id="transaction-collapse">
                            <a class="list-group-item list-group-item-action list-group-item-success" asp-action="Create" asp-controller="Document">
                                <i class="fa-solid fa-file-circle-plus fa-lg me-3"></i> New Entry
                            </a>
                            <a class="list-group-item list-group-item-action list-group-item-success " href="#">
                                <i class="fa-solid fa-list fa-lg me-3 "></i> Masterlist
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="list-group">
                <div class="collapse list-group rounded-0" id="profile-collapse">
                    <a class="list-group-item list-group-item-action list-group-item-success " href="#">
                        <i class="fa-solid fa-file-circle-plus fa-lg me-3"></i> Profile
                    </a>
                    <a class="list-group-item list-group-item-action list-group-item-success " asp-action="Logout" asp-controller="Account">
                        <i class="fa-solid fa-list fa-lg me-3 "></i> Logout
                    </a>
                </div>
                <button class="list-group-item list-group-item-action list-group-item-success d-inline-flex justify-content-between align-items-center collapsed" data-bs-toggle="collapse" data-bs-target="#profile-collapse" aria-expanded="false"><span><img src="/images/avatar/user.png" style="width: 15%; margin-right: 1rem;"> @FullName.ToUpper()</span> </button>
            </div>
        </aside>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/fastbootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script defer src="~/lib/font-awesome/js/all.min.js"></script>
    <script src="~/lib/html5-qrcode/html5-qrcode.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>
