@model NewTrialModel
@using QRCoder
@{
    bool FirstIteration = true;
}

<div class="row row-cols-1 row-cols-xl-2" style="--bs-columns: 2;">
    <!-- Left side -->
    <div class="col col-xl-4 position-relative">
        <div class="mt-5 bg-white p-5 card position-sticky top-0">
            <div class="mb-3">
                <strong>Fill <span class="text-danger">*</span> required fields</strong>
            </div>
            <form asp-action="NewTrail" method="post">
                <input class="visually-hidden" asp-for="WriteTrackingStatus.DocumentEncryptId" value="@Model.ReadDocument.EncryptedId" />
                <div class="mb-3">
                    <label class="form-label" asp-for="WriteTrackingStatus.StatusId">Remark/Status <span class="text-danger">*</span></label>
                    <select class="form-select" asp-items="@ViewBag.Status" asp-for="WriteTrackingStatus.StatusId">
                        <option>Select Status...</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label asp-for="WriteTrackingStatus.CreatedBy" class="form-label">Created By <span class="text-danger">*</span></label>
                    <input asp-for="WriteTrackingStatus.CreatedBy" class="form-control" placeholder="Enter Name" value="@ViewBag.NameOfModifier" aria-label="disabled input example" disabled>
                </div>

                <div class="mb-3">
                    <label asp-for="WriteTrackingStatus.Comments" class="form-label">Comments <span class="text-danger">*</span></label>
                    <textarea asp-for="WriteTrackingStatus.Comments" class="form-control" rows="5" placeholder="Add a message here (Optional)"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">New Trail</button>
                </div>
            </form>
        </div>
    </div>
    <!-- right side -->
    <div class="col col-xl-8">
        <div class="my-5 bg-white p-5 card">
            <div class="mb-3 d-flex justify-content-between">
                <span class="badge text-bg-success p-3 fw-bold">@Model.ReadDocument.TrackingNumber</span>
                <a class="badge text-bg-success p-3 fw-bold" href="#"><i class="fa-solid fa-print"></i></a>
            </div>
            <section class="p-4">
                <div class="mb-4">
                    <div class="row row-cols-1 row-cols-md-2">
                        <div class="col d-flex flex-column flex-md-row">
                            <img src=@("data:image/png;base64," + System.Convert.ToBase64String(
                                 PngByteQRCodeHelper.GetQRCode(Model.ReadDocument.TrackingNumber, QRCodeGenerator.ECCLevel.Q, 10))) class="img-thumbnail border border-solid border-2 border-dark w-25 h-100 me-3" />
                            <div class="d-flex flex-column justify-content-between ">
                                <div class="d-flex flex-column">
                                    <span>Tracking Number</span>
                                    <strong>@Model.ReadDocument.TrackingNumber</strong>
                                </div>
                                <div class="d-flex flex-column">
                                    <span>Document ID</span>
                                    <strong>@Model.ReadDocument.TrackingNumber</strong>
                                </div>
                            </div>
                        </div>
                        <div class="col mt-sm-4 mt-md-0">
                            <span class="mt-sm-5">Remark</span>
                            <h3>@Model.ReadDocument.TrackingStatus.FirstOrDefault()?.StatusName</h3>
                            <span>Updated: @Model.ReadDocument.TrackingStatus.FirstOrDefault()?.DateCreated.ToString("dd MMMM, yyyy | hh:mm:ss tt")</span>
                        </div>
                    </div>
                </div>
                <div class="mb-12">
                    <p>Description</p>
                    <strong>@Model.ReadDocument.Description</strong>
                </div>
            </section>
            <section>
                <div class="mb-3">
                    <h4>Tracking Status</h4>
                </div>
                <div class="row">
                    <div class="timeline p-4 block">

                        @foreach (var status in Model.ReadDocument.TrackingStatus)
                        {
                            if (FirstIteration)
                            {
                                <div class="tl-item active">
                                    <div class="tl-dot"></div>
                                    <div class="tl-content">
                                        <div class="row mb-3">
                                            <strong>@status.DateCreated.ToString("MMMM dd, yyyy | hh:mm:ss tt")</strong>
                                            <div class="d-flex flex-column">
                                                <small class="mb-3">@Model.ReadDocument.FormatTimeInterval(status.DateCreated)</small>
                                                <span class="align-self-start badge text-bg-success py-1">@status.StatusName</span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <p>Created by: <strong>@status.CreatedBy</strong></p>
                                        </div>
                                        <div class="row">
                                            <small>Comments/Remarks</small>
                                            <small class="text-danger fw-bold">@status.Comments</small>
                                        </div>
                                    </div>
                                </div>
                                FirstIteration = false;
                            }
                            else
                            {
                                <div class="tl-item">
                                    <div class="tl-dot"></div>
                                    <div class="tl-content">
                                        <div class="row mb-3">
                                            <strong>@status.DateCreated.ToString("MMMM dd, yyyy | hh:mm:ss tt")</strong>
                                            <div class="d-flex flex-column">
                                                <small class="mb-3">@Model.ReadDocument.FormatTimeInterval(status.DateCreated)</small>
                                                <span class="align-self-start badge text-bg-success py-1">@status.StatusName</span>
                                            </div>
                                        </div>
                                        <div class="mb-4">
                                            <p>Created by: <strong>@status.CreatedBy</strong></p>
                                        </div>
                                        <div class="row">
                                            <small>Comments/Remarks</small>
                                            <small class="text-danger fw-bold">@status.Comments</small>
                                        </div>
                                    </div>
                                </div>
                            }

                        }
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>